<mdb-card>
  <!--Card image-->
  <mdb-card-img src="assets/img/BackStraightHor.JPG" alt="Card image cap"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>
    <div class="msgbox">
      <!--Title-->
      <mdb-card-title>
        <h4>Booking Canceled!</h4>
      </mdb-card-title>

      <!--Text <mdb-card-text>Booking Canceled</mdb-card-text> -->
           

      <a href="#" mdbBtn color="yellow" mdbWavesEffect>OK</a>
    </div>
  </mdb-card-body>
</mdb-card>

        <!--Text-->
        <!--<mdb-card-text>Please be aware that you will have to make a payment first in order to register for the challenge.</mdb-card-text>
        <mdb-card-text>Once you have made a payment the owner will confirm your payment.</mdb-card-text>
        <mdb-card-text>Once confirmed you will be registered for the challenge and you will be able to book consultations.</mdb-card-text>
        <mdb-card-text>Consultations are compulsory if you would like to qualify for the prize, here at JessterFIT we work on an honest system and our consultants will need to measure your weight in order to determine effectively who has had the most impressive weight loss or muscle gain.</mdb-card-text>
        <mdb-card-text>Please be aware that once you have confirmed the registration below you will not be able to unregister and will be expected to pay and once a payment has been received you will not be able to unregister and request the payment back.</mdb-card-text>
        <mdb-card-text>Please confirm the challenge you have chosen to register for and continue to payment.</mdb-card-text>
        
        <mdb-card-title>
          <h5>Muscle Gain</h5>
        </mdb-card-title>
        <mdb-card-text>Time: 09:30 - 10:30</mdb-card-text>
      <mdb-card-text>Venue: Virgin Active Loftus</mdb-card-text>
      <mdb-card-text>Trainer: Janco Steenkamp</mdb-card-text>
        -->

        <!--<mdb-card-text>Challenge directed at those of you who have built some muscle and would like to put on more!</mdb-card-text>
        <mdb-card-text>Price: R1500.00</mdb-card-text>
        <mdb-card-text>Challenge starts on the:</mdb-card-text>
        <mdb-card-text>2019-08-01</mdb-card-text>
        <mdb-card-text>Challenge ends on the:</mdb-card-text>
        <mdb-card-text>2019-11-30</mdb-card-text>
        <mdb-card-text>Registration for the available challenge closes in:</mdb-card-text>
        <mdb-card-text>01:23:55</mdb-card-text>-->

        <!--<mdb-card-text>Please pay the amount into the following account:</mdb-card-text>
        <mdb-card-text>Challenge Amount: R1500.00</mdb-card-text>
        <mdb-card-text>JessterFIT</mdb-card-text>
        <mdb-card-text>62089323705</mdb-card-text>
        <mdb-card-text>Cheque</mdb-card-text>
        <mdb-card-text>Pretoria</mdb-card-text>
        <mdb-card-text>205440</mdb-card-text>
        <mdb-card-text>Once you have made the payment click the ‘Payment made’ option and if you would like to cancel your subscription please click the cancel subscription option.</mdb-card-text>
        
        
        <mdb-card-text>An email has been sent to the owner for the owner to confirm the challenge payment.</mdb-card-text>
        <mdb-card-text>Once the payment has been confirmed you will have access to the challenge exercise plan and be given the option to book consultations.</mdb-card-text>
        <mdb-card-text>Please Confirm that you have made the payment so that your purchase can be processed as soon as possible.</mdb-card-text>
        <mdb-card-text>Enjoy your day.</mdb-card-text>
        -->


        
