.msgbox{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    border-width:2px;
    border-style:solid;
    border-color: #f5c242;
}

h2, h4, h5{
    font-weight: 900;
    color: #f5c242;
}

.card{
    background-color: #f5c242;
}