<div class="card-deck">
  <mdb-card class="panels card card-image text-center pl-3 mb-3 ml-3 mt-3">
    <!--style="background-image: url('../../assets/img/Panel1.jpg')"-->
    <mdb-card-body>
      <mdb-card-title>
        <h5>6 Months</h5>
      </mdb-card-title>
      <mdb-card-text> R250 p/m
      </mdb-card-text>
      <mdb-card-text>Total: R 1500
      </mdb-card-text>
      <a href="#!" mdbBtn color="yellow">SIGN UP</a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card Color="#fed530" class="panels card card-image text-center mb-3 ml-3 mt-3">
    <!--style="background-image: url('../../assets/img/Panel2.JPG')"-->
    <mdb-card-body>
      <mdb-card-title>
        <h5>12 Months</h5>

      </mdb-card-title>
      <mdb-card-text>R208 p/m
      </mdb-card-text>
      <mdb-card-text>Total: R 2500
      </mdb-card-text>
      <a href="#!" mdbBtn color="yellow">SIGN UP</a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card Color="#fed530" class="panels card card-image text-center mb-3 ml-3 mt-3">
    <!--style="background-image: url('../../assets/img/Panel2.JPG')"-->
    <mdb-card-body>
      <mdb-card-title>
        <h5>24 Months</h5>

      </mdb-card-title>
      <mdb-card-text>R188 p/m
      </mdb-card-text>
      <mdb-card-text>Total: R 4500
      </mdb-card-text>
      <a href="#!" mdbBtn color="yellow">SIGN UP</a>
    </mdb-card-body>
  </mdb-card>
</div>