<!--
  <mdb-card class="panels card card-image text-center pl-3 mb-3 ml-3 mt-3">
    style="background-image: url('../../assets/img/Panel1.jpg')"
    <mdb-card-body>
      <mdb-card-title>
        <h5>Weight Loss</h5>
      </mdb-card-title>
      <mdb-card-text>Price Per Month: R250 p/m</mdb-card-text>
      <mdb-card-text>Price: R1500.00</mdb-card-text>
      <mdb-card-text>Discount: None</mdb-card-text>
      <a href="#!" mdbBtn color="yellow">Register Now</a>
    </mdb-card-body>
  </mdb-card>-->
<div class="card-deck">
  <mdb-card Color="#fed530" class="panels card card-image text-center mb-3 ml-3 mt-3">
    <!--style="background-image: url('../../assets/img/Panel2.JPG')"-->
    <mdb-card-body>
      <mdb-card-title>
        <h2>Muscle Gain</h2>
      </mdb-card-title>
      <mdb-card-text>Challenge directed at those of you who have built some muscle and would like to put on more!</mdb-card-text>
      <mdb-card-text>Price: R1500.00</mdb-card-text>
      <mdb-card-text>Challenge starts on the:</mdb-card-text>
      <mdb-card-text>2019-08-01</mdb-card-text>
      <mdb-card-text>Challenge ends on the:</mdb-card-text>
      <mdb-card-text>2019-11-30</mdb-card-text>
      <mdb-card-text>Registration for the available challenge closes in:</mdb-card-text>
      <mdb-card-text>01:23:55</mdb-card-text>
      <a href="#!" mdbBtn color="yellow">Register Now</a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card Color="#fed530" class="panels card card-image text-center mb-3 ml-3 mt-3">
    <!--style="background-image: url('../../assets/img/Panel2.JPG')"-->
    <mdb-card-body>
      <mdb-card-title>
        <h2>Weight Loss</h2>
      </mdb-card-title>
      <mdb-card-text>Challenge for those of you who want to lose weight and get that dream body you've always wanted</mdb-card-text>
      <mdb-card-text>Price: R2000.00</mdb-card-text> 
      <mdb-card-text>Challenge starts on the:</mdb-card-text>
      <mdb-card-text>2019-08-01</mdb-card-text>
      <mdb-card-text>Challenge ends on the:</mdb-card-text>
      <mdb-card-text>2019-11-30</mdb-card-text>
      <mdb-card-text>Registration for the available challenge closes in:</mdb-card-text>
      <mdb-card-text>01:23:55</mdb-card-text>
      <a href="#!" mdbBtn color="yellow">Register Now</a>
    </mdb-card-body>
  </mdb-card>
</div>