<!-- Jumbotron -->
<div class="card" style="background-image: url('../../assets/img/ChestFullFront.JPG');">
  <div class="text-white text-center rgba-black-light py-5 px-8">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 yellow-text"><i class="fas fa-camera-retro"></i> JESSTERFIT</h5>
      <h2 class="card-title h2 my-4 py-2">WHY SUBSCRIBE TO JESSTERFIT?</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">JessterFIT is the SHIT</p>
      <a mdbBtn rounded="true" gradient="peach" mdbWavesEffect> <mdb-icon fas icon="clone" class="left"></mdb-icon>SUBSCRIBE</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->