<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center">Exercise Types</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <!-- <form #form="ngForm" autocomplete="off" *ngIf="service.formData">-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Exercise Type ID</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">#</div>
                </div>
                <input name="subscription_Type_Id" #subscription_Type_Id="ngModel"
                  [(ngModel)]=service.formData.subscription_Type_Id class="form-control" readonly>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Exercise Type Details</label>
              <input name="details" #details="ngModel" [(ngModel)]=service.formData.details class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <a class="btn btn-sm btn-success text-white"
                (click)="AddorEditSub(null,service.SubData.subscription_Id)"><i class="fa fa-plus"></i> Add
              </a>
            </div>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <input type="text" name="searchSub" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <a class="btn btn-sm btn-success text-white"
                (click)="AddorEditSub(null,service.SubData.subscription_Id)"><i class="fa fa-search"></i> Search
              </a>
            </div>
          </div>
        </div>
        <!--Table-->
        <table class="table table-borderless">
          <thead class="thead-light">
            <th>Exercise Type ID</th>
            <th>Details</th>
            <th>
            </th>
          </thead>
          <tbody>
            <!--
        <tr *ngIf="service.subItem.length == 0">
          <td class="fornt-italic text-center" colspan="5">
            No subscriptions available
          </td>
        </tr>
        -->
            <tr>
              <!--*ngFor="let item of service.subItem; let i=index"-->
              <td>9999</td>
              <td>xxxxxxxxxx</td>
              <td>
                <a class="btn btn-sm btn-info text-white"
                  (click)="AddorEditSubType(i,service.formData.subscription_Type_Id)"><i class="fa fa-pencil"></i>
                  Edit</a>
                <a class="btn btn-sm btn-info text-white ml-1"
                  (click)="AddorEditSubType(i,service.formData.subscription_Type_Id)"><i class="fa fa-trash"></i>
                  Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>