<div class="card" style="background-image: url('../../assets/img/BackSideCam.JPG');">
  <div class="text-white text-center rgba-black-light py-5 px-8">
    <div class="py-5">

      <!-- Content -->
      <!--<h5 class="h5 yellow-text"><i class="fas fa-camera-retro"></i> JESSTERFIT</h5>-->
      <h2 class="card-title h2 my-4 py-2">Welcome to the JessterFIT challenges.</h2>
      <p>Here at JessterFIT we care about your health and as an incentive to get you to either lose weight or gain muscle we offer a prize for the best body transformation per challenge.</p>
      <p>Only one applicant will win the prize per challenge and this will be determined through measuring weight across the challenge (it will be kept confidential so please don’t be shy!)</p>
      <p>Once you have successfully registered for a challenge you will have to book consultations so that one of our trusted consultants will measure your weight and keep a record so that there are no cheats and the challenge is kept fair!</p>
      <p>If you are looking to rapidly transform your body then one of our challenges is for you because with the prize and consultations, we offer mental incentives to keep you active and focused on your goal.</p>
      <p>Register below for a challenge you would like to take on.</p>
    </div>
  </div>
</div>