<div class="card" style="background-image: url('../../assets/img/BackSideCam.JPG');">
  <div class="text-white text-center rgba-black-light py-5 px-8">
    <div class="py-5">

      <!-- Content -->
      <!--<h5 class="h5 yellow-text"><i class="fas fa-camera-retro"></i> JESSTERFIT</h5>-->
      <h2 class="card-title h2 my-4 py-2">Subscription</h2>
      <p>Sign Up today for new a new exercise plan every month and access to inidividual personal training sessions with
        our fitness fanatic trainers</p>
    </div>
  </div>
</div>