<!-- Card -->
<mdb-card style="background-image: url('../../assets/img/BackSideCam.JPG')" class="card-image mb-3">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div class="profile">
      <h5 class="yellow-text">
        <mdb-icon fas icon="book-open"></mdb-icon>
        Cancel Personal Training Booking
      </h5>
      <br>
      <h3 class="card-title pt-2"><strong>Booked Bookings: </strong></h3>
      <br>
      <table id="booking">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Venue</th>
          <th>Trainer</th>
          <th> </th>
        </tr>
        <tr>
          <td>2019-08-22</td>
          <td>09:30 - 10:30</td>
          <td>Virgin Active Loftus</td>
          <td>Janco Steenkamp</td>
          <td mdbBtn color="white" class="waves-light" mdbWavesEffect><mdb-icon fas icon="book-dead" class="left"></mdb-icon>Cancel</td>
        </tr>
        <tr>
          <td>2019-08-22</td>
          <td>10:00 - 11:00</td>
          <td>Virgin Active Hatfield</td>
          <td>Joshua Eales</td>
          <td mdbBtn color="white" class="waves-light" mdbWavesEffect><mdb-icon fas icon="book-dead" class="left"></mdb-icon>Cancel</td>
        </tr>
        <tr>
          <td>2019-08-22</td>
          <td>10:30 - 11:30</td>
          <td>Virgin Active Menlyn</td>
          <td>Doreen Maloka</td>
          <td mdbBtn color="white" class="waves-light" mdbWavesEffect><mdb-icon fas icon="book-dead" class="left"></mdb-icon>Cancel</td>
        </tr>
      </table>
      <br>
 
      <a mdbBtn color="yellow" class="waves-light" mdbWavesEffect><mdb-icon fas icon="user" class="left"></mdb-icon>Go Back To Profile</a>
    </div>
  </div>
  <!-- Content -->
</mdb-card>
<!-- Card -->
